# libraries and executables
*.mex
*.mexglx
*.mexa64
*.mexw32
*.dll
*.mexsol
*.exe
*.jar

# binary dump files
*.core
*.stackdump

# temporary files and backups
*~
.*~
#*#
*#
#.*#
*.lnk
.DS_Store
*.lyx.emergency
*.bak

# Compilation files
*.o
*.obj
*.aux
*.log
*.out
*.bbl
*.blg
*.bbl
*.aux
*.blg
*.out
*.log
*.dvi
*.toc
*.nav
*.snm
*.vrb

# motion capture data
*.bvh
*.amc

# archives
*.zip
*.gz

# dropbox files
.dropbox
.dropbox.attr

# bibtex files
*.log
*.aux
*.blg
*.bbl
*.out
*.nav
*.snm
*.toc
*.vrb

# ignore old CVS directories.
CVS

# ignore clutter directories
chipDyno/matlab/clutterDir
datasets/matlab/clutterDir
dimred/matlab/clutterDir
drawing/matlab/clutterDir
fgplvm/matlab/clutterDir
gp/matlab/clutterDir
gplvm/matlab/clutterDir
gpsim/matlab/clutterDir
hgplvm/matlab/clutterDir
nppca/matlab/clutterDir

chipDyno/matlab/crap
hgplvm/matlab/crap
mocap/matlab/crap
noise/matlab/crap
prior/matlab/crap

noise/matlab/tmp/

# ignore data
chipDyno/matlab/data
datasets/data
gmos/data
gplvm/data

# ignore results
gplvm/tex/videos
fgplvm/tex/nips07/submission/video_topologicallyConstrained.avi

gplvm/results/noiseInit
gplvm/results/horse
gplvm/results/speech
gpsim/matlab/results
hgplvm/matlab/results
mocap/matlab/results
mocap/oldmatlab/results
mtivm/matlab/results
mtivm/oldmatlab/results


# Ignore released matlab packages
chipDyno/matlab/CHIPDYNO*
collab/matlab/COLLAB*
datasets/matlab/DATASETS*
dgplvm/matlab/DGPLVM*
dimred/matlab/DIMRED*
disimrank/matlab/DISIMRANK*
drawing/matlab/DRAWING*
fgplvm/matlab/FGPLVM*
gmos/matlab/GMOS*
gpapp/src/GP*
gplvmapp/src/GPLVM*
gpsim/matlab/GPSIM*
hgplvm/matlab/HGPLVM*
ivm/matlab/PSIVM*
ivm/matlab/IVM*
kern/matlab/KERN*
matlab/general/GENERAL*
mltools/matlab/MLTOOLS*
mocap/matlab/MOCAP*
mtivm/matlab/MTIVM*
ndlutil/matlab/NDLUTIL*
noise/matlab/NOISE*
nppca/matlab/NPPCA*
optimi/matlab/OPTIMI*
oxford/matlab/OXFORD*
prior/matlab/PRIOR*
sgplvm/matlab/SGPLVM*
svargplvm/matlab/SVARGPLVM*
vargplvm/matlab/VARGPLVM*

# ignore data sets
gpsim/matlab/data
hgplvm/matlab/data
lfm/matlab/data
mtivm/matlab/data
mtivm/oldmatlab/data
nppca/data



# misc ignores
ivm/tex/toMikeAndJohn
kern/cpp
kern/matlab/PEI*
kern/cpptest/svml
ml/html
mocap/matlab/romain/walkSamples
mocap/matlab/dat
mocap/oldmatlab/dat
mocap/java/orn/BVHparser/output
mocap/java/orn/BVHparser/bvh
ndlutil/lib
nppca/matlab/moveaway
vargplvm/matlab/anon

# tex ignores
tex/publications
tex/strings

# ignore downloaded matlab packages
matlab/netlab
matlab/covsel
matlab/carl
matlab/apcluster
matlab/@blockmatrix
matlab/f2matlab
matlab/dtw
matlab/erfz
matlab/erfcxz
matlab/FastICA_21
matlab/fileexchange
matlab/gaussq
matlab/glm-ie*
matlab/glmnet
matlab/GraphLayout/
matlab/GraphViz*
matlab/graphViz*
matlab/lightspeed
matlab/lle
matlab/lmvu
matlab/lbfgs
matlab/octave
matlab/L1precision
matlab/kernelMethods
matlab/isomap
matlab/iplot
matlab/gnumex
matlab/m_map
matlab/matfig2pgf
matlab/minimize
matlab/mvu
matlab/mysql
matlab/phivis
matlab/pigeon_prediction*
matlab/plot2svg
matlab/ppca
matlab/jdqr
matlab/html
matlab/sbtoolbox
matlab/rotate_image
matlab/sedumi
matlab/sdptthree
matlab/nlfa
matlab/voicebox
matlab/vdpgm
matlab/speech
matlab/svm
matlab/volume_browser*
matlab/xml_io_tools*
matlab/xmltree
matlab/specialfunc
matlab/svml
matlab/sparseBayes
matlab/scripts
matlab/ogp
matlab/scripts
matlab/general/dirichlet*.m
matlab/general/beta*.m
matlab/general/add_BNT_path.m
matlab/general/exponential*.m
matlab/general/exp*.m
matlab/general/poisson*.m
matlab/docs
